<a href="https://colab.research.google.com/github/akitim/SkillFactory_current/blob/main/Unit_7_Basic_ML_algorithms_part_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Юнит 7. Основные алгоритмы машинного обучения. Часть II

## ML-5. Решающие деревья и случайный лес

### 5.2. Решающие деревья

#### Задание 5.2.3
Обучите на предложенных данных решающее дерево. Целевой переменной здесь является переменная `Class`. Размер тестовой выборки возьмите за ` 0.2, random_state = 17` для разбиения и дерева. Максимальную глубину дерева примите за **3**, максимальное число признаков, по которым ищется лучшее разбиение в дереве — за **2**. Какое значение $\ F1-score $ вы получили? Округлите до трёх знаков после точки-разделителя.

In [1]:
import pandas as pd
import numpy as np

path = 'https://raw.githubusercontent.com/akitim/datasets/main/bill_authentication.csv'
df = pd.read_csv(path)
df.sample(5)

      Variance  Skewness  Curtosis  Entropy  Class
829   -2.24820    3.0915  -2.39690 -2.67110      1
1348  -2.97860    2.3445   0.52667 -0.40173      1
1055  -0.60254    1.7237  -2.15010 -0.77027      1
1124  -1.75890   -6.4624   8.47730  0.31981      1
1199  -2.91380   -9.4711   9.76680 -0.60216      1

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

RND_SEED = 17

X = df.drop('Class', axis=1).values
Y = df['Class'].values

X_train, X_test, Y_train, Y_test =\
    train_test_split(X, Y, test_size= 0.2, random_state=RND_SEED)

clf_tree = DecisionTreeClassifier(criterion='entropy',
                                  max_depth=3,
                                  max_features=2,
                                  random_state=RND_SEED)