<a href="https://colab.research.google.com/github/akitim/SkillFactory_current/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 5

In [ ]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)
display(data)
# display(data.loc["Первый"])
# display(data.loc["Первый"])
# print(data.loc[["Первый", "Третий"]])

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [ ]:
data = pd.Series(list(range(10, 1001)))
print ( data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122] )
print( data.loc[10],
data.loc[23],
data.loc[245],
data.iloc[122] )

-70
20 33 255 132

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]}, index = ['f', 'g'])
# df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  # columns = ['foo', 'bar', ''], 
                  # index = ['foobar', 'foobaz'])
display(df)

   col1  col2
f     1     3
g     2     4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# display(football.info())
# football.describe(include=['object'])
# football.describe()
# football.Composure.count()
# football.ShortPassing.std()
# football.Wage.sum()
# football.Value.min()
# football[(football.Age < football.Age.mean())&
#         (football.Club == 'FC Barcelona')].Wage.mean()
# round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(), 2)
football[football.Wage == football.Wage.max()].Position
# display (football)

0    RF
Name: Position, dtype: object

Задание 3, 4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# football[football.Wage == football.Wage.max()].Position
# football[football.Nationality == 'Brazil'].Penalties.sum()
# football[football.HeadingAccuracy > 50].Age.mean()
# football[(football.Composure > 0.9*football.Composure.max()) & (football.Reactions > 0.9*football.Reactions.max())].Age.min()
# football [football.Age == football.Age.max()].Reactions.mean() - football [football.Age == football.Age.min()].Reactions.mean()
# football[football.Wage > football.Wage.mean()].Nationality.describe()
# round (football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
# /football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean(), 2 )
round (football[(football.Aggression == football.Aggression.max())].ShotPower.mean()
/football[(football.Aggression == football.Aggression.min())].ShotPower.mean(), 2 )

2.08

# PYTHON-6. Методы группировки данных

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
#addr = 'D:\gitprojects\Skillfactory\SkillFactory_current\data_sf.xlt'
df = pd.read_csv(addr)
#df.Wage[df.Nationality == 'Spain'].value_counts(normalize = True, bins = 4)
#df.Nationality[df.Club == "Manchester United"].nunique()
#grouped_df = df.groupby(['Club','Nationality']).sum()
#display(grouped_df)
grouped_df = df.groupby(['Club', 'Nationality'])['Wage'].sum().sort_values(ascending=False)
#print(grouped_df)
#df.groupby(['Position','Nationality'])[['Wage', 'Age']].mean().sort_values(by='Age', ascending=True)
# gbdf = df.groupby(['Position'])[['Wage']].sum().sort_values(by='Wage', ascending=False)
# gbdf[gbdf.Wage > 5000000]
#df.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending=True)
dfgb = df.groupby(['Club'])[['Wage']].agg(['mean','median'])
dfgb.columns = ['mean', 'median']
ddfgb = dfgb[dfgb['median'] == dfgb['mean']]
# ddfgb['mean'].count()
ddfgb[(ddfgb['mean'] == 13000)]

Index(['Cruzeiro'], dtype='object', name='Club')

6.10 Задачи

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
df = pd.read_csv(addr)
# display(df.head())
gdf = df.groupby(['Club'])['Wage'].sum() #['Chelsea'] #.sort_values(ascending = True)
gdf
# df.Wage[(df.Nationality == 'Argentina') & (df.Age == 30)].min()
# str (df.Strength[(df.Nationality == 'Argentina') & (df.Club == "FC Barcelona")].max()) + ';' + str (df.Balance[(df.Nationality == 'Argentina') & (df.Club == "FC Barcelona")].max())

Club
 SSV Jahn Regensburg      90000
1. FC Heidenheim 1846     76000
1. FC Kaiserslautern      33000
1. FC Köln                92000
1. FC Magdeburg           84000
                          ...
Zagłębie Sosnowiec        27000
Çaykur Rizespor          118000
Örebro SK                 36000
Östersunds FK             39000
Śląsk Wrocław             50000
Name: Wage, Length: 650, dtype: int64

Сводные таблицы

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'https://github.com/akitim/SkillFactory_current/blob/61ca6f34cb8f07f1e82dd3f61455981c88a41454/data_sf.csv'
df = pd.read_csv(addr)
# pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
# index=['Nationality'],
# columns=['Club'],
# aggfunc='sum',
# fill_value=0)
# display(pivot)
pivot = df.pivot_table (values = ['Name'],
index = ['Club'],
columns = ['Position']                     ,
aggfunc = 'count',
fill_value = 0,
margins = False)
pivot10 = pivot.head(10)
# display(pivot10)
# display(pivot10.columns)
# display(pivot10.index)
round (pivot.Name.GK.mean(),3)
# pivot.Name.CM[pivot.Name.CM == 0].count()
# pivot5.groupby(['Club'])[pivot5.Name.CM == 0].value_counts()

# pivot.Name.CM.groupby (pivot.Name.CM == 0).count()
# pivot.Name.Club[pivot.Name.CM == 0].nunique

2.525

6.14 Задачи

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'https://github.com/akitim/SkillFactory_current/blob/61ca6f34cb8f07f1e82dd3f61455981c88a41454/data_sf.csv'
df = pd.read_csv(addr)
pivot = df.pivot_table (values = ['Wage'],
index = ['Club'],
columns = ['Nationality']                     ,
aggfunc = 'mean',
fill_value = 0,
margins = False)
display(pivot.head())
pivot.Wage.Russia.loc['AS Monaco']

                             Wage                  ...
Nationality           Afghanistan Albania Algeria  ... Wales Zambia Zimbabwe
Club                                               ...
 SSV Jahn Regensburg            0       0       0  ...   0.0      0        0
1. FC Heidenheim 1846           0       0       0  ...   0.0      0        0
1. FC Kaiserslautern            0       0       0  ...   0.0      0        0
1. FC Köln                      0       0       0  ...   0.0      0        0
1. FC Magdeburg                 0       0       0  ...   0.0      0        0

[5 rows x 156 columns]

61000

In [ ]:
import pandas as pd
import numpy as np
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'D:\data_sf.xls'
df = pd.read_csv(addr)
pivot = df.pivot_table (values= ['SprintSpeed'],
index = ['Position'],
columns = ['Club'],
aggfunc = 'mean',
fill_value = 0,
margins = True
) #.sort_values( by = 'All')


# display(pivot.columns, pivot.index)
# pivot.columns.names = ['1','Position']

# display(pivot.iloc[0:5,-5:651])
# pivot.iloc[0,-1:].mean()
# display(pivot)
# display(pivot.SprintSpeed.All.sort_values(ascending=False))
# print()
# mask = df.Position in ['RB','LM', 'RM', 'CF','RWM','RS']
df.groupby([df.Position])['SprintSpeed'].mean().sort_values(ascending = False)
# df.Position == 'LM'| df.Position == 'RM' |
#         df.Position == 'CF'| df.Position == 'RWM' | df.Position == 'RS'

Position
RF     76.333333
LAM    76.333333
LF     75.875000
RW     75.417722
RM     74.943864
LW     74.747934
LM     74.211538
RAM    73.800000
RWB    73.128571
LWB    72.833333
LS     72.338843
RS     71.991228
RB     71.186709
LB     70.718563
CF     69.803922
ST     68.700397
CAM    68.236967
LCM    65.334764
RCM    65.233333
CM     64.299906
RDM    62.152174
LDM    62.006757
CDM    60.813314
LCB    58.936430
RCB    58.239234
CB     57.734854
GK     37.622182
Name: SprintSpeed, dtype: float64

In [135]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'D:\data_sf.xls'
df = pd.read_csv(addr)
pivot = df.pivot_table (values= ['SprintSpeed'],
index = ['Position'],
columns = ['Club'],
aggfunc = 'mean',
fill_value = 0,
margins = True
)

# display(pivot.index, '/n/n', pivot.columns)
pl = ['RB','LM', 'RM', 'CF','RWM','RS']
gpv = pivot.loc[pivot.index.isin (pl)]
display(gpv.SprintSpeed.All.sort_values(ascending=False), '=========')

gdf = df[df.Position.isin(['RB','LM', 'RM', 'CF','RWM','RS'])]
display(gdf.groupby(df.Position).SprintSpeed.mean().sort_values(ascending = False))

Position
RM    74.943864
LM    74.211538
RS    71.991228
RB    71.186709
CF    69.803922
Name: All, dtype: float64

'========='

Position
RM    74.943864
LM    74.211538
RS    71.991228
RB    71.186709
CF    69.803922
Name: SprintSpeed, dtype: float64

In [40]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'D:\data_sf.xls'
df = pd.read_csv(addr)
pivot = df.pivot_table (values= ['SprintSpeed'],
index = ['Position'],
columns = ['Club'],
aggfunc = 'mean',
fill_value = 0,
margins = True
)

cl = [('Sprintspeed','Sydney FC'),
  ('Sprintspeed','CD Lugo'),
  ('Sprintspeed','Arsenal'),
  ('Sprintspeed','Toronto FC'),
  ('Sprintspeed','Girona FC'),
  ('Sprintspeed','Melbourne Victory'),
  ('Sprintspeed','Vitória')
]

# cl = ['Sydney FC','CD Lugo','Arsenal','Toronto FC','Girona FC','Melbourne Victory','Vitória']
# display(pivot.head())
# display(pivot.index, '/n/n', pivot.columns)
pivot.columns = pivot.columns.to_flat_index()
# pivot.columns.name = 'CLub'
gpv = pivot[pivot.index == 'ST']

display(gpv)
# display(gpv.sort_values(, ascending=False)) #['ST']

# display(pivot.head())
display(pivot.index, '/n/n', pivot.columns)

          (SprintSpeed,  SSV Jahn Regensburg)  ...  (SprintSpeed, All)
Position                                       ...
ST                                  61.666667  ...           68.700397

[1 rows x 651 columns]

KeyError: ignored