<a href="https://colab.research.google.com/github/akitim/SkillFactory_current/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 5

In [ ]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)
display(data)
# display(data.loc["Первый"])
# display(data.loc["Первый"])
# print(data.loc[["Первый", "Третий"]])

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [ ]:
data = pd.Series(list(range(10, 1001)))
print ( data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122] )
print( data.loc[10],
data.loc[23],
data.loc[245],
data.iloc[122] )

-70
20 33 255 132

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]}, index = ['f', 'g'])
# df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  # columns = ['foo', 'bar', ''], 
                  # index = ['foobar', 'foobaz'])
display(df)

   col1  col2
f     1     3
g     2     4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# display(football.info())
# football.describe(include=['object'])
# football.describe()
# football.Composure.count()
# football.ShortPassing.std()
# football.Wage.sum()
# football.Value.min()
# football[(football.Age < football.Age.mean())&
#         (football.Club == 'FC Barcelona')].Wage.mean()
# round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(), 2)
football[football.Wage == football.Wage.max()].Position
# display (football)

0    RF
Name: Position, dtype: object

Задание 3, 4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# football[football.Wage == football.Wage.max()].Position
# football[football.Nationality == 'Brazil'].Penalties.sum()
# football[football.HeadingAccuracy > 50].Age.mean()
# football[(football.Composure > 0.9*football.Composure.max()) & (football.Reactions > 0.9*football.Reactions.max())].Age.min()
# football [football.Age == football.Age.max()].Reactions.mean() - football [football.Age == football.Age.min()].Reactions.mean()
# football[football.Wage > football.Wage.mean()].Nationality.describe()
# round (football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
# /football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean(), 2 )
round (football[(football.Aggression == football.Aggression.max())].ShotPower.mean()
/football[(football.Aggression == football.Aggression.min())].ShotPower.mean(), 2 )

2.08

# PYTHON-6. Методы группировки данных

In [23]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
df = pd.read_csv(addr)
#df.Wage[df.Nationality == 'Spain'].value_counts(normalize = True, bins = 4)
#df.Nationality[df.Club == "Manchester United"].nunique()
#grouped_df = df.groupby(['Club','Nationality']).sum()
#display(grouped_df)
grouped_df = df.groupby(['Club', 'Nationality'])['Wage'].sum().sort_values(ascending=False)
#print(grouped_df)
#df.groupby(['Position','Nationality'])[['Wage', 'Age']].mean().sort_values(by='Age', ascending=True)
# gbdf = df.groupby(['Position'])[['Wage']].sum().sort_values(by='Wage', ascending=False)
# gbdf[gbdf.Wage > 5000000]
df.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending=True)

                   Wage         Value
Position
RB          5310.126582  1.248940e+06
CB          5328.581611  1.321251e+06
LB          6083.832335  1.429032e+06
GK          5352.833638  1.502502e+06
RWB         6000.000000  1.555571e+06
CM          5805.060918  1.617465e+06
CDM         7121.562952  1.658900e+06
CF          4862.745098  1.848627e+06
LWB         5783.333333  1.931333e+06
RM          6655.352480  2.138734e+06
ST          7852.513228  2.157252e+06
LM          7472.527473  2.466174e+06
LCB         9753.056235  2.636516e+06
RDM        11282.608696  2.692717e+06
CAM         8688.783570  2.963199e+06
RCB        11270.334928  3.009055e+06
LDM        10243.243243  3.369459e+06
RW         13822.784810  3.495738e+06
LW         12169.421488  3.603099e+06
RS         13482.456140  3.645833e+06
RCM        13504.166667  4.217604e+06
LCM        13497.854077  4.318090e+06
LS         15421.487603  5.848430e+06
RAM        11800.000000  8.345000e+06
LAM        61000.000000  1.324583e+07
RF        119000.000000  2.636583e+07
LF         75125.000000  2.736250e+07