<a href="https://colab.research.google.com/github/akitim/SkillFactory_current/blob/main/Unit_3_ML_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PYTHON-11. Feature Engineering

In [2]:
import pandas as pd
#import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns
import warnings; warnings.filterwarnings('ignore') #(action='once')
import missingno as msno
# from itertools import combinations
# from scipy.stats import ttest_ind
# from scipy.stats import norm
 
%matplotlib inline
 
pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок
pd.options.display.precision = 3
 
 
import sys
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
sys.path.clear
sys.path.append('/content/gdrive/MyDrive/SkillFactory')

Mounted at /content/gdrive

#Загрузка

In [3]:
cols = ['user_id', 'time', 'bet', 'win']
log = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/log.csv', names=cols)
 
users = pd.read_csv(
    '/content/gdrive/MyDrive/SkillFactory/vsers.csv',
    encoding='koi8-r',
    sep = '\t'
)
# users.sample(10)
log.sample(1)

                              user_id                 time  bet  win
418  Запись пользователя № - user_984  [2019-02-14 0:18:27  NaN  NaN

 Задание 1