<a href="https://colab.research.google.com/github/akitim/SkillFactory_current/blob/main/Unit_3_ML_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PYTHON-11. Feature Engineering

In [ ]:
import pandas as pd
#import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns
import warnings; warnings.filterwarnings('ignore') #(action='once')
import missingno as msno
# from itertools import combinations
# from scipy.stats import ttest_ind
# from scipy.stats import norm
 
%matplotlib inline
 
pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок
pd.options.display.precision = 3
 
 
#import sys
#from google.colab import drive
#drive.mount('/content/gdrive', force_remount=True)
#sys.path.clear
#sys.path.append('/content/gdrive/MyDrive/SkillFactory')

Mounted at /content/gdrive

#Загрузка

In [ ]:
log_path = 'https://raw.githubusercontent.com/akitim/datasets/main/log.csv'
cols = ['user_id', 'time', 'bet', 'win']
#log = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/log.csv', names=cols)
log = pd.read_csv(log_path, names=cols)
 
#users = pd.read_csv(
#    '/content/gdrive/MyDrive/SkillFactory/vsers.csv',
#    encoding='koi8-r',
#    sep = '\t'
#)
 
users_path = 'https://raw.githubusercontent.com/akitim/datasets/main/users.csv'
users = pd.read_csv(
    users_path,
    encoding='koi8-r',
    sep = '\t'
)
users.columns = ['user_id', 'email', 'geo']
users.sample(10)
#log.sample(10)

      user-id                     email          geo
40   User_957        Hetstact@yandex.ru    Ярославль
97   User_970          Vashoterlo@bk.ru      Воронеж
29   User_935    Foreveracis@rambler.ru    Хабаровск
87   User_981       Stargalux@gmail.com  Арзангелтск
31   User_928        FraserBlue@mail.ru    Хабаровск
21  User_1000       Cincomphite@mail.ru       Тюмень
17   User_941             Cavotin@bk.ru   Красноярск
74   User_997       Prestigenp@inbox.ru    Ярославль
22   User_998          Decitere@mail.ru       Казань
95   User_959  UpdatesCurious@yahoo.com       Тюмень

Задание 1

In [16]:
len(log.loc[log.loc[:, 'time'].isna(), 'time'])

15