<a href="https://colab.research.google.com/github/akitim/SkillFactory_current/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 5

In [ ]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)
display(data)
# display(data.loc["Первый"])
# display(data.loc["Первый"])
# print(data.loc[["Первый", "Третий"]])

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [ ]:
data = pd.Series(list(range(10, 1001)))
print ( data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122] )
print( data.loc[10],
data.loc[23],
data.loc[245],
data.iloc[122] )

-70
20 33 255 132

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]}, index = ['f', 'g'])
# df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  # columns = ['foo', 'bar', ''], 
                  # index = ['foobar', 'foobaz'])
display(df)

   col1  col2
f     1     3
g     2     4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# display(football.info())
# football.describe(include=['object'])
# football.describe()
# football.Composure.count()
# football.ShortPassing.std()
# football.Wage.sum()
# football.Value.min()
# football[(football.Age < football.Age.mean())&
#         (football.Club == 'FC Barcelona')].Wage.mean()
# round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(), 2)
football[football.Wage == football.Wage.max()].Position
# display (football)

0    RF
Name: Position, dtype: object

Задание 3, 4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# football[football.Wage == football.Wage.max()].Position
# football[football.Nationality == 'Brazil'].Penalties.sum()
# football[football.HeadingAccuracy > 50].Age.mean()
# football[(football.Composure > 0.9*football.Composure.max()) & (football.Reactions > 0.9*football.Reactions.max())].Age.min()
# football [football.Age == football.Age.max()].Reactions.mean() - football [football.Age == football.Age.min()].Reactions.mean()
# football[football.Wage > football.Wage.mean()].Nationality.describe()
# round (football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
# /football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean(), 2 )
round (football[(football.Aggression == football.Aggression.max())].ShotPower.mean()
/football[(football.Aggression == football.Aggression.min())].ShotPower.mean(), 2 )

2.08

# PYTHON-6. Методы группировки данных

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
#addr = 'D:\gitprojects\Skillfactory\SkillFactory_current\data_sf.xlt'
df = pd.read_csv(addr)
#df.Wage[df.Nationality == 'Spain'].value_counts(normalize = True, bins = 4)
#df.Nationality[df.Club == "Manchester United"].nunique()
#grouped_df = df.groupby(['Club','Nationality']).sum()
#display(grouped_df)
grouped_df = df.groupby(['Club', 'Nationality'])['Wage'].sum().sort_values(ascending=False)
#print(grouped_df)
#df.groupby(['Position','Nationality'])[['Wage', 'Age']].mean().sort_values(by='Age', ascending=True)
# gbdf = df.groupby(['Position'])[['Wage']].sum().sort_values(by='Wage', ascending=False)
# gbdf[gbdf.Wage > 5000000]
#df.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending=True)
dfgb = df.groupby(['Club'])[['Wage']].agg(['mean','median'])
dfgb.columns = ['mean', 'median']
ddfgb = dfgb[dfgb['median'] == dfgb['mean']]
# ddfgb['mean'].count()
ddfgb[(ddfgb['mean'] == 13000)]

Index(['Cruzeiro'], dtype='object', name='Club')

6.10 Задачи

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
df = pd.read_csv(addr)
# gdf = df.groupby(['Club'])['Wage'].sum()['Chelsea'] #.sort_values(ascending = True)
# df.Wage[(df.Nationality == 'Argentina') & (df.Age == 30)].min()
str (df.Strength[(df.Nationality == 'Argentina') & (df.Club == "FC Barcelona")].max()) + ';' + str (df.Balance[(df.Nationality == 'Argentina') & (df.Club == "FC Barcelona")].max())

'59;95'

Сводные таблицы

In [16]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'https://github.com/akitim/SkillFactory_current/blob/61ca6f34cb8f07f1e82dd3f61455981c88a41454/data_sf.csv'
df = pd.read_csv(addr)
# pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
# index=['Nationality'],
# columns=['Club'],
# aggfunc='sum',
# fill_value=0)
# display(pivot)
pivot = df.pivot_table (values = ['Name'],
index = ['Club'],
columns = ['Position']                     ,
aggfunc = 'count',
fill_value = 0,
margins = False)
pivot10 = pivot.head(10)
# display(pivot10)
# display(pivot10.columns)
# display(pivot10.index)
round (pivot.Name.GK.mean(),3)
# pivot.Name.CM[pivot.Name.CM == 0].count()
# pivot5.groupby(['Club'])[pivot5.Name.CM == 0].value_counts()

# pivot.Name.CM.groupby (pivot.Name.CM == 0).count()
# pivot.Name.Club[pivot.Name.CM == 0].nunique

2.525

6.14 Задачи

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'https://github.com/akitim/SkillFactory_current/blob/61ca6f34cb8f07f1e82dd3f61455981c88a41454/data_sf.csv'
df = pd.read_csv(addr)
pivot = df.pivot_table (values = ['Wage'],
index = ['Club'],
columns = ['Nationality']                     ,
aggfunc = 'mean',
fill_value = 0,
margins = False)
display(pivot.head())
pivot.Wage.Russia.loc['AS Monaco']

                             Wage                  ...
Nationality           Afghanistan Albania Algeria  ... Wales Zambia Zimbabwe
Club                                               ...
 SSV Jahn Regensburg            0       0       0  ...   0.0      0        0
1. FC Heidenheim 1846           0       0       0  ...   0.0      0        0
1. FC Kaiserslautern            0       0       0  ...   0.0      0        0
1. FC Köln                      0       0       0  ...   0.0      0        0
1. FC Magdeburg                 0       0       0  ...   0.0      0        0

[5 rows x 156 columns]

61000

In [45]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
# addr = 'D:\data_sf.xls'
df = pd.read_csv(addr)
pivot = df.pivot_table (values= ['SprintSpeed'],
index = ['Club'],
columns = ['Position'],
aggfunc = 'mean',
fill_value=0,
margins=False
)
display(pivot.head(10))
display(pivot.columns, pivot.index)
gp = pivot.groupby(level = 'Club')[pivot.SprintSpeed.Position].sort_values(ascending = True)

                      SprintSpeed                        ...
Position                      CAM         CB        CDM  ...    RW  RWB         ST
Club                                                     ...
 SSV Jahn Regensburg     0.000000  46.600000  82.000000  ...   0.0  0.0  61.666667
1. FC Heidenheim 1846   68.000000  61.333333   0.000000  ...   0.0  0.0  69.000000
1. FC Kaiserslautern     0.000000  59.000000  65.666667  ...   0.0  0.0  79.000000
1. FC Köln               0.000000  60.000000  32.000000  ...   0.0  0.0   0.000000
1. FC Magdeburg          0.000000  60.000000   0.000000  ...  80.5  0.0  44.000000
1. FC Nürnberg          66.000000  55.000000  59.000000  ...   0.0  0.0  65.666667
1. FC Union Berlin      61.000000  59.000000  66.500000  ...   0.0  0.0   0.000000
1. FSV Mainz 05          0.000000  71.500000   0.000000  ...   0.0  0.0  69.000000
AC Ajaccio              71.333333  46.000000   0.000000  ...   0.0  0.0  66.000000
AC Horsens               0.000000  53.333333  56.000000  ...   0.0  0.0  52.500000

[10 rows x 27 columns]

MultiIndex([('SprintSpeed', 'CAM'),
            ('SprintSpeed',  'CB'),
            ('SprintSpeed', 'CDM'),
            ('SprintSpeed',  'CF'),
            ('SprintSpeed',  'CM'),
            ('SprintSpeed',  'GK'),
            ('SprintSpeed', 'LAM'),
            ('SprintSpeed',  'LB'),
            ('SprintSpeed', 'LCB'),
            ('SprintSpeed', 'LCM'),
            ('SprintSpeed', 'LDM'),
            ('SprintSpeed',  'LF'),
            ('SprintSpeed',  'LM'),
            ('SprintSpeed',  'LS'),
            ('SprintSpeed',  'LW'),
            ('SprintSpeed', 'LWB'),
            ('SprintSpeed', 'RAM'),
            ('SprintSpeed',  'RB'),
            ('SprintSpeed', 'RCB'),
            ('SprintSpeed', 'RCM'),
            ('SprintSpeed', 'RDM'),
            ('SprintSpeed',  'RF'),
            ('SprintSpeed',  'RM'),
            ('SprintSpeed',  'RS'),
            ('SprintSpeed',  'RW'),
            ('SprintSpeed', 'RWB'),
            ('SprintSpeed',  'ST')],
           names=[None, 'Position'])

Index([' SSV Jahn Regensburg', '1. FC Heidenheim 1846', '1. FC Kaiserslautern',
       '1. FC Köln', '1. FC Magdeburg', '1. FC Nürnberg', '1. FC Union Berlin',
       '1. FSV Mainz 05', 'AC Ajaccio', 'AC Horsens',
       ...
       'Wycombe Wanderers', 'Yeni Malatyaspor', 'Yeovil Town',
       'Yokohama F. Marinos', 'Zagłębie Lubin', 'Zagłębie Sosnowiec',
       'Çaykur Rizespor', 'Örebro SK', 'Östersunds FK', 'Śląsk Wrocław'],
      dtype='object', name='Club', length=650)

AttributeError: ignored