<a href="https://colab.research.google.com/github/akitim/SkillFactory_current/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 5

In [ ]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)
display(data)
# display(data.loc["Первый"])
# display(data.loc["Первый"])
# print(data.loc[["Первый", "Третий"]])

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [ ]:
data = pd.Series(list(range(10, 1001)))
print ( data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122] )
print( data.loc[10],
data.loc[23],
data.loc[245],
data.iloc[122] )

-70
20 33 255 132

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]}, index = ['f', 'g'])
# df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  # columns = ['foo', 'bar', ''], 
                  # index = ['foobar', 'foobaz'])
display(df)

   col1  col2
f     1     3
g     2     4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# display(football.info())
# football.describe(include=['object'])
# football.describe()
# football.Composure.count()
# football.ShortPassing.std()
# football.Wage.sum()
# football.Value.min()
# football[(football.Age < football.Age.mean())&
#         (football.Club == 'FC Barcelona')].Wage.mean()
# round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(), 2)
football[football.Wage == football.Wage.max()].Position
# display (football)

0    RF
Name: Position, dtype: object

Задание 3, 4

In [ ]:
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
football = pd.read_csv(addr)
# football[football.Wage == football.Wage.max()].Position
# football[football.Nationality == 'Brazil'].Penalties.sum()
# football[football.HeadingAccuracy > 50].Age.mean()
# football[(football.Composure > 0.9*football.Composure.max()) & (football.Reactions > 0.9*football.Reactions.max())].Age.min()
# football [football.Age == football.Age.max()].Reactions.mean() - football [football.Age == football.Age.min()].Reactions.mean()
# football[football.Wage > football.Wage.mean()].Nationality.describe()
# round (football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
# /football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean(), 2 )
round (football[(football.Aggression == football.Aggression.max())].ShotPower.mean()
/football[(football.Aggression == football.Aggression.min())].ShotPower.mean(), 2 )

2.08

# PYTHON-6. Методы группировки данных

In [ ]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
#addr = 'D:\gitprojects\Skillfactory\SkillFactory_current\data_sf.xlt'
df = pd.read_csv(addr)
#df.Wage[df.Nationality == 'Spain'].value_counts(normalize = True, bins = 4)
#df.Nationality[df.Club == "Manchester United"].nunique()
#grouped_df = df.groupby(['Club','Nationality']).sum()
#display(grouped_df)
grouped_df = df.groupby(['Club', 'Nationality'])['Wage'].sum().sort_values(ascending=False)
#print(grouped_df)
#df.groupby(['Position','Nationality'])[['Wage', 'Age']].mean().sort_values(by='Age', ascending=True)
# gbdf = df.groupby(['Position'])[['Wage']].sum().sort_values(by='Wage', ascending=False)
# gbdf[gbdf.Wage > 5000000]
#df.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending=True)
dfgb = df.groupby(['Club'])[['Wage']].agg(['mean','median'])
dfgb.columns = ['mean', 'median']
ddfgb = dfgb[dfgb['median'] == dfgb['mean']]
# ddfgb['mean'].count()
ddfgb[(ddfgb['mean'] == 13000)]

Index(['Cruzeiro'], dtype='object', name='Club')

6.10 Задачи

In [17]:
import pandas as pd
addr = 'https://lms.skillfactory.ru/assets/courseware/v1/d05df2022e56c6de021ab6e54949fe6c/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/data_sf.csv'
df = pd.read_csv(addr)
# gdf = df.groupby(['Club'])['Wage'].sum()['Chelsea'] #.sort_values(ascending = True)
# df.Wage[(df.Nationality == 'Argentina') & (df.Age == 30)].min()
str (df.Strength[(df.Nationality == 'Argentina') & (df.Club == "FC Barcelona")].max()) + ';' + str (df.Balance[(df.Nationality == 'Argentina') & (df.Club == "FC Barcelona")].max())

'59;95'